#menu {
  display: flex;
  background: none;
  border: none;
  font-size: 2rem;
  color: #004080;
  cursor: pointer;
}

nav {
  display: absolute;
  flex-direction: column;
  background-color: #0066cc;
  padding: 1rem;
}

nav.open {
  display: flex;
}

nav a {
  color: white;
  padding: 0.5rem;
  text-decoration: none;
  border-bottom: 1px solid #004080;
}

nav a:hover {
  background-color: #005bb5;
}

@media (min-width: 768px) {
  #menu {
    display: none;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    background-color: transparent;
  }

  nav a {
    color: #004080;
    border: none;
    padding: 0.5rem 1rem;
  }

  nav a:hover {
    background-color: #e0e0e0;
  }
}
